.default-color0.chart-bar { -fx-bar-fill: #262626; }

.chart-plot-background {
    -fx-background-color: #b7b7b7;
}
.chart-vertical-grid-lines {
    -fx-stroke: #636363;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #636363;
}